.cart {
	width: 100%;
}

.cart tr:first-child th:first-child {
	width: 30%;
}

.cart tr:first-child th:nth-child(2),
.cart tr:first-child th:nth-child(3),
.cart tr:first-child th:nth-child(4) {
	width: 20%;
}

.cart tr:first-child th:last-child {
	width: 10%;
}

.cart tr:nth-child(2) {
	border-top: 2px solid #c4c4c4;
}