
form {
	margin-top: 40px;
}

.input-box {
	position: relative;
}

.input-box input, .input-box textarea {
	border: none;
	outline: none;
	border-bottom: 1px solid #c4c4c4;
	width: 100%;
	margin-bottom: 30px;
	padding: 5px 0 5px;
	background-color: #fff;
	font-size: 16px;
}

.input-box label {
	position: absolute;
	top: -25px;
	left: 0;
	padding: 5px 0;
	font-size: 14px;
	color: #777373;
}

#form-submit {
	width: 80px;
	height: 35px;
	background-color: #00ab39;
	color: #fff;
}

.icon-fa {
	color: #00ab39;
	margin-bottom: 10px;
}

.gg-map {
	margin-bottom: 0;
}


