* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Roboto';
}

.carousel {
	position: sticky;
}

/* Breadcrumb */
.breadcrumb {
	background-color: #fff;
	padding-left: 0;
}

.breadcrumb-item a {
	color: #6c757d;
}

.breadcrumb a:hover {
	text-decoration: none;
	color: blue;
}

/* Heading */
.heading, .page-heading {
	font-family: 'Dancing Script', cursive;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	line-height: 36px;
	text-align: center;
}

/* Page Heading */
.page-heading {
	color: #000000;
	margin-bottom: 100px;
}

/* Nút xem chi tiết + Thêm vào giở hàng */
.wrap-card {
	position: relative;
	margin-bottom: 20px;
}

.wrap-card:hover .card {
	opacity: 0.2;
	box-shadow: 5px 5px 10px gray;
}

.wrap-card:hover .overlay1 {
	opacity: 1;
}

.overlay1 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	opacity: 0;
	transition: 1s ease;
}

.overlay1 a:hover,
.overlay2 a:hover {
	text-decoration: none;
}

.btn-detail, .btn-addToCart,
.btn-detail2, .btn-addToCart2 {
	width: 150px;
	padding: 10px;
	color: #fff;
	text-align: center;
	cursor: pointer;
	border-radius: 10px;
}

.btn-detail, .btn-detail2 {
	border: 1px solid #00ab39;
	background-color: #00ab39;
	margin-bottom: 20px;
}

.btn-detail:hover, .btn-detail2:hover {
	background-color: transparent;
	color: #00ab39;
}

.btn-addToCart, .btn-addToCart2 {
	border: 1px solid tomato;
	background-color: tomato;
}

.btn-addToCart:hover, .btn-addToCart2:hover {
	background-color: transparent;
	color: tomato;
}

/* Dịch vụ */
.section-1 {
	margin-top: 70px;
	margin-bottom: 100px;
}

.service {
	border: 2px solid #f2f2f2;
}

.service-2 {
	border-right: none;
	border-left: none;
}

.service-icon {
	color: #00ab39;
	padding-top: 15px;
}

/* Thông báo thêm vào giỏ hàng thành công */
.alert {
	display: none;
	position: fixed;
	z-index: 999;
	top: 50%;
	left: 39.5%;
}

/* Sản phẩm nổi bật */
.hot-products {
	background-color: #f2f2f2;
	margin-top: 100px;
	padding-bottom: 60px;
}

.hot-products__heading {
	padding-top: 50px;
	padding-bottom: 50px;
}

.hot-products__content .card {
	border: none;
	margin-bottom: 40px;
	background-color: #f2f2f2;
	transition: all 0.4s;
	text-align: center;
}

.hot-products__content .card-title {
	font-weight: 500;
}

.hot-products__content .card-text {
	font-weight: 500;
	color: #00ab39;
	font-size: 18px;
}

.hot-products__img {
	overflow: hidden;
}

.hot-products__img img {
	transition: all 0.6s linear;
}

.hot-products__content .card-body {
	background-color: #fff;
}

.fa-star {
	color: #ffff00;
}

.hot-products__title {
	font-weight: 500;
	margin-top: 10px;
}

.hot-products hr {
	margin-bottom: 1.5em;
}

.hot-products__price {
	font-size: 20px;
	font-weight: 500;
	float: left;
}


.btn__all-products {
	width: 175px;
	height: 50px;
	line-height: 50px;
	border: 2px solid #00ab39;
	color: #00ab39;
	border-radius: 10px;
}

.btn__all-products a {
	color: #00ab39;
}

.btn__all-products:hover {
	background-color: #00ab39;
	color: #fff;
	cursor: pointer;
}

.btn__all-products:hover a {
	text-decoration: none;
	color: #fff;
}



/* Ảnh trang trí (Section 4) */
.section-4 {
	margin-top: 80px;
}

.section-4 .images {
	overflow: hidden;
	border-radius: 15px; 
}

.section-4 img {
	max-width: 100%;
	transition: all 0.5s linear;
}

.section-4 img:hover {
	transform: scale(1.1);
	opacity: 0.7;
}

/* Sản phẩm khuyễn mãi */
.section-5 {
	margin-top: 100px;
}

.section-5__left {
	padding-right: 0;
}

.promotional-products__heading {
	margin-bottom: 50px;
}

.promotional-products__img .card-img {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.promotional-products__content .card .no-gutters {
	transition: 1s;
}

.promotional-products__content .card:hover .no-gutters {
	opacity: 0.2;
}

.promotional-products__content .card:hover .overlay2 {
	opacity: 1;
}


/* Code mới */
.wrap-card2 {
	margin-bottom: 30px;
}

.wrap-card2 .card {
	position: relative;
}

.overlay2 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	opacity: 0;
}

/*.btn-detail2,
.btn-addToCart2 {
	width: 150px;
	padding: 10px;
	text-align: center;
	color: #fff;
	border-radius: 10px;
	cursor: pointer;
}

.btn-detail2 {
	margin-right: 15px;
	border: 1px solid #00ab39;
	background-color: #00ab39;
	margin-bottom: 15px;
}

.btn-detail2:hover {
	background-color: transparent;
	color: #00ab39;
}

.btn-addToCart2 {
	border: 1px solid tomato;
	background-color: tomato
}

.btn-addToCart2:hover {
	background-color: transparent;
	color: tomato;
}*/

.promotional-products__title,
.promotional-products__new-price,
.promotional-products__old-price {
	margin-bottom: 15px;
}


.promotional-products__new-price {
	color: #00ab39;
	font-weight: 500;
	font-size: 18px;
}

.promotional-products__old-price {
	font-size: 14px;
	text-decoration: line-through;
	color: #c4c4c4; 
}




/* Tin tức */
.news {
	background-color: #f2f2f2;
	margin-top: 100px;
	padding-bottom: 30px;
}

.news__items {
	padding-left: 15px;
}

.news__heading {
	padding-top: 50px;
	padding-bottom: 20px;
}

.news__items .card {
	background-color: #f2f2f2;
	border: none;
	padding-left: 0;
	padding-right: 0;
	margin-right: 15px;
}

.news__items .card-body {
	background-color: #fff;
	padding: 15px;
}

.news__items .card-body a {
	color: #00ab39;
}

.news__items .card-body a:hover {
	color: tomato;
	text-decoration: none;
}

.news__items .title-link:hover h6 {
	color: #00ab39;
}

.news__items .card-text {
	font-size: 14px;
}

.slick-dots {
	padding-right: 20px;
}

.slick-dots li button {
	width: 10px;
	height: 10px;
	background-color: #c4c4c4;
	border-radius: 50%;
}

.slick-dots li button:hover {
	background-color: #737373;
}

.slick-dots li.slick-active button
{
    opacity: 1;
    background-color: tomato;
}

.slick-dots li button:before {
	content: '';
}

.news__btn {
	width: 175px;
	height: 50px;
	line-height: 50px;
	border: 2px solid #00ab39;
	border-radius: 10px;
	margin-top: 85px;
	margin-bottom: 50px;
}

.news__btn a {
	color: #00ab39;
}

.news__btn:hover {
	background-color: #00ab39;
	color: #fff;
	cursor: pointer;
}

.news__btn:hover a {
	text-decoration: none;
	color: #fff;
}

/* News items 2 */
.news__items-2 {
	display: none;
}
.news__items-2 .card {
	background-color: #f2f2f2;
}

.news__items-2 .card-body {
	background-color: #fff;
}

.news__items-2 .card-text {
	font-size: 14px;
}

.news__items-2 .title-link {
	color: #000;
}

.news__items-2 .title-link:hover {
	color: #00ab39;
	text-decoration: none;
}

.news__items-2 .icon-share,
.news__items-2 .read-more {
	color: #00ab39;
}

.news__items-2 .icon-share:hover,
.news__items-2 .read-more:hover {
	color: tomato;
	text-decoration: none;
}

.news__items-2 .read-more

/* Back to top */
.back-to-top {
	color: tomato;
	position: fixed;
	right: 40px;
	bottom: 90px;
	cursor: pointer;
	display: none;
}

