.product-details__price {
	font-size: 24px;
	font-weight: 500;
	color: #00ab39;
}

.product-details__desc {
	font-weight: 500;
}

.product-details__amount {
	width: 60px;
	padding: 3px;
	margin-bottom: 16px;
}

.product-details__buyNow {
	margin-bottom: 16px;
}

.product-details__buyNow,
.product-details__addToCart {
	width: 160px;
	padding: 5px;
	border-radius: 10px;
	outline: none;
	border: 1px solid #00ab39;
	cursor: pointer;
	text-align: center; 
}

.product-details__buyNow {
	background-color: #00ab39;
	color: #fff; 
}

.product-details__buyNow:hover {
	background-color: #fff;
	color: #00ab39;
}

.product-details__addToCart {
	background-color: #fff;
	color: #00ab39;
}

.product-details__addToCart:hover,
.product-details__buyNow:hover {
	background-color: tomato;
	color: #fff;
	border-color: tomato;
}


.product-details__service1,
.product-details__service2,
.product-details__service3 {
	border: 1px solid #c4c4c4;
	padding-top: 10px;
	margin-bottom: 15px;
}

.fa-2x {
	color: #00ab39;
}
