body {
	background-color: #f2f2f2;
}

.products__heading {
	margin-bottom: 50px;
}

.sub-heading {
	text-align: center;
	font-size: 18px;
	font-weight: 500;
	margin-top: 15px;
	margin-bottom: 20px;
}

.products__btn .btn__buy-now {
	padding: 5px 10px;
}

.breadcrumb {
	background-color: #f2f2f2;
}

.products .card {
	background-color: #f2f2f2;
	border: none;
	margin-bottom: 25px;
}

.products .card-body {
	background-color: #fff;
}

.products .card-0,
.products .card-3,
.products .card-6 {
	padding-left: 15px;
	padding-right: 10px;
}

.products .card-1,
.products .card-4,
.products .card-7 {
	padding: 0 12.5px;
}

.products .card-2,
.products .card-5,
.products .card-8 {
	padding-right: 15px;
	padding-left: 10px;
}

.products img.star {
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin-bottom: 8px;
}

.products__price {
	font-size: 20px;
	font-weight: 500;
}

.products .btn__buy-now {
	background-color: #fff;
	color: #00ab39;
	border: 1px solid #00ab39;
}

/* Danh mục sản phẩm */
.flex-column {
	background-color: #fff;
}
.nav-pills .nav-link.active {
	background-color: #00ab39;/*#9fcdff*/
	font-weight: 500;
	color: #fff;
}

.nav-pills .nav-link {
	border-bottom: 1px solid #c4c4c4;
	color: #000;
}

a#cosmetic-bottles-tab {
	border-bottom: none;
}

/* Sản phẩm khuyến mãi */
.left-bottom {
	margin-top: 40px;
}

#promotional-products .card {
	background-color: #f2f2f2;
	border: none;
	margin-bottom: 20px;
}

#promotional-products .card-body {
	background-color: #fff;
	padding:5px 5px 10px 5px;
}

#promotional-products .card-title, 
#promotional-products .card-body p {
	margin-bottom: 5px;
}

#promotional-products .new-price {
	font-weight: 600;
	color: #00ab39;
}

#promotional-products .old-price {
	color: #c4c4c4;
	text-decoration: line-through;
	font-size: 14px;
}

.btn-buy-now {
	padding: 4px;
	background-color: #fff;
	color: #00ab39;
	border-radius: 10px;
	border: 1px solid #00ab39;
}

.btn-buy-now:hover, .products .btn__buy-now:hover {
	text-decoration: none;
	color: #fff;
	background-color: #00ab39;
}